* {
   margin: 0;
   padding: 0;

}

.quicksand {
   font-family: "Quicksand", serif;
   font-optical-sizing: auto;
   font-style: normal;
}

header {
   padding: 0px 13%;
}

.nav-container {
   display: flex;
   justify-content: space-between;
   padding: 25px 0px;
}

.nav-logo {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 11px;
}

.nav-logo p {
   color: rgb(17, 17, 17);
   font-family: Quicksand;
   font-size: 32px;
   font-weight: 700;
   line-height: 30px;
   text-align: left;
}

.nav-anchor {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 35px;

}

.nav-anchor a {
   text-decoration: none;
   color: rgb(254, 163, 1);
   font-family: Quicksand;
   font-size: 20px;
   font-weight: 500;
   text-align: left;
}

#nav-home {
   color: rgb(254, 163, 1);
   font-family: Quicksand;
   font-size: 20px;
   font-weight: 700;
   text-align: left;
}

#nav-about {
   color: Sky Blue;
}

#nav-facilities {
   color: rgb(5, 212, 223);
}

#nav-admissions {
   color: rgb(93, 88, 239);
}

.nav-container button {
   padding: 10px 30px;
   border-radius: 12px;
   border: none;
   background: rgb(254, 163, 1);
   color: rgb(255, 255, 255);
   font-family: Quicksand;
   font-size: 20px;
   font-weight: 600;
   color: rgb(255, 255, 255);
}

.marquee {
   box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
   border: 1px solid rgba(0, 0, 0, .15);
   background-color: orange;
   overflow: hidden;
   position: relative;
   height: 50px;
   width: 100%;
   white-space: nowrap;

}

.marquee p {
   position: absolute;
   right: 0;
   left: 0;
   width: auto;
   height: 100%;
   color: white;
   line-height: 50px;
   text-align: center;
   transform: translateX(100%);
   animation: scroll-left 20s infinite linear;
}

@keyframes scroll-left {
   0% {
      transform: translateX(100%);
   }

   100% {
      transform: translateX(-100%);
   }
}

.mobile-nav {
   display: none;
}

/* hero kids section - 1st slide */

.hero-kids {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;

}

.hero-text-box {
   width: 50%;
}

.hero-text-1 {
   font-family: Quicksand;
   font-size: 56px;
   font-weight: 700;
   line-height: 61px;
   text-align: left;
   color: rgb(254, 163, 1)
}

.hero-span-1 {
   color: rgb(17, 17, 17);
}

.hero-span-2 {
   color: rgb(1, 172, 253);
}

.hero-text-2 {
   color: rgb(17, 17, 17);
   font-family: Quicksand;
   font-size: 20px;
   font-weight: 400;
   line-height: 25px;
   text-align: left;
   margin: 24px 0px;
}

.hero-text-box button {
   border: none;
   border-radius: 12px;
   padding: 10px 30px;
   background-color: rgb(17, 17, 17);
   color: rgb(255, 255, 255);
   font-family: Quicksand;
   font-size: 20px;
   font-weight: 700;

}

/* 2nd slide */
.secnd-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: url(assets/bg.png);
   padding: 0px 13%;
}

.secnd-p {
   color: rgb(0, 0, 0);
   font-family: Quicksand;
   font-size: 46px;
   font-weight: 700;
   text-align: center;
   margin-top: 60px;
}

.secnd-container-small-box {
   display: flex;
   justify-content: space-between;
   gap: 29px;
   margin: 80px 0px;

}

.secnd-container-small-box div {
   width: 28%;
   height: 37%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 55px 40px;
}

.kinder {
   border: 0.94px solid rgb(222, 245, 255);
   border-radius: 18.86px;
   box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
   background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.elementary {
   border: 0.94px solid rgb(255, 244, 220);
   border-radius: 18.86px;
   box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
   background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.middle {
   border: 0.94px solid rgb(242, 232, 255);
   border-radius: 18.86px;
   box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
   background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.secnd-container-small-box-p1 {
   color: rgb(32, 32, 32);
   font-family: Quicksand;
   font-size: 24px;
   font-weight: 700;
   text-align: center;
   margin: 35px 0px;
}

.secnd-container-small-box-p2 {

   color: rgb(128, 128, 128);
   font-family: Raleway;
   font-size: 15.09px;
   font-weight: 500;
   text-align: center;
   margin-bottom: 38px;
}

.secnd-container-small-box a {
   text-decoration: none;
   font-family: Quicksand;
   font-size: 15.09px;
   font-weight: 700;
   text-align: center;
}

.secnd-container-small-box-a1 {
   color: rgb(100, 200, 255);
}

.secnd-container-small-box-a2 {
   color: rgb(240, 170, 0);
}

.secnd-container-small-box-a3 {
   color: rgb(135, 0, 255);
}

.secnd-container-btn {
   display: flex;
   flex-direction: row;
   gap: 10px;
}

.secnd-container button {
   width: 60px;
   height: 60px;
   border: none;
   border-radius: 50%;
   background-color: rgb(254, 163, 1);
   color: rgb(255, 255, 255);
   font-size: 24px;
   font-family: Quicksand;
   font-weight: 900;
   text-align: center;
}

.third-container {
   display: flex;
   flex-direction: column;
   padding: 4% 13%;
   justify-content: center;
   align-items: center;

   background: url(assets/bg.png), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
}

.third-container-p {
   color: rgb(0, 0, 0);
   font-family: Quicksand;
   font-size: 46px;
   font-weight: 700;
   text-align: center;
   margin-bottom: 80px;
}

.third-container-partation {
   display: flex;
   justify-content: space-between;
   gap: 100px;

}

.third-container-1st-partition {
   display: flex;
   flex-direction: column;
   width: 550.27px;
   height: 650px;
   border-radius: 16px;
   background: rgb(255, 255, 255);

}

.third-container-1st-partition img {
   border-radius: 16px 16px 0px 0px;

}

#third-container-1st-partition-btn {
   position: relative;
   width: 174.51px;
   height: 47.93px;
   left: 38.35px;
   bottom: 25px;
   border-radius: 47.93px;
   border: none;
   background: rgb(60, 216, 232);
   color: rgb(255, 255, 255);
   font-size: 15.34px;
   font-weight: 500;
}

.third-container-1st-partition p,
h4 {
   padding: 38.35px;
}

.third-container-1st-partition-p1 {
   color: rgb(0, 0, 0);
   font-family: Quicksand;
   font-size: 24px;
   font-weight: 700;
   text-align: left;
   margin-top: -40px;
}

.third-container-1st-partition-p2 {
   color: rgb(102, 102, 102);
   font-family: Raleway;
   font-size: 15.34px;
   font-weight: 500;
   text-align: left;
   margin-top: -40px;
}

.third-container-2nd-partition {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 30px;
   margin-bottom: 30px;
   width: 600px;
}

.third-container-2nd-partition div {
   width: 290.69px;
   height: 305.61px;
   background-color: aliceblue;
   border-radius: 16px;
}

.third-container-2nd-partition-btn {
   position: relative;
   width: 174.51px;
   height: 47.93px;
   left: 38.35px;
   bottom: 30px;
   border-radius: 47.93px;
   border: none;
   background: rgb(93, 88, 240);
   color: rgb(255, 255, 255);
   font-size: 15.34px;
   font-weight: 500;
}

.third-container-2nd-partition img {
   border-radius: 16px 16px 0px 0px;
}

.third-container-2nd-partition p {
   padding: 38px;
   margin-top: -45px;
   color: rgb(0, 0, 0);
   font-family: Quicksand;
   font-size: 15.34px;
   font-weight: 700;
   text-align: left;
}

.View-all-btn {
   border-radius: 12px;
   background: rgb(17, 17, 17);
   padding: 15px 45px;
   color: rgb(255, 255, 255);
   font-family: Quicksand;
   font-size: 20px;
   font-weight: 700;
   margin-top: 80px;


}

/* footer */

footer {
   background-color: rgb(93, 88, 240);
   padding: 5% 13%;
}

.footer-container {
   display: flex;
   justify-content: space-between;

}

.footer-1st-box {
   display: flex;
   flex-direction: column;
}

.footer-logo-box {
   display: flex;
   align-items: center;
   margin-bottom: 30px;
   gap: 20px;

}

.footer-logo-box p {
   color: rgb(255, 255, 255);
   font-family: Quicksand;
   font-size: 42.14px;
   font-weight: 700;
   text-align: left;
   width: 206px;
}

.footer-text-box {
   width: 350px;
   color: rgb(255, 255, 255);
   font-family: Quicksand;
   font-size: 20px;
   font-weight: 400;
   text-align: left;
}

.footer-about-box {
   display: flex;
   flex-direction: column;
   width: 160px;


}

.footer-about-box p {
   color: rgb(255, 255, 255);
   font-family: Quicksand;
   font-size: 24px;
   font-weight: 700;

}

.footer-about-box-anchor {
   display: flex;
   flex-direction: column;

}

.footer-about-box-anchor a {
   text-decoration: none;
   color: rgb(255, 255, 255);
   font-family: Quicksand;
   font-size: 20px;
   font-weight: 500;

   text-align: left;
   margin-top: 30px;
}

.footer-icon-box {
   display: flex;
   flex-direction: row;
}

.footer-keep-in-touch p {
   color: rgb(255, 255, 255);
   font-family: Quicksand;
   font-size: 26px;
   font-weight: 700;
   margin-bottom: 30px;

}

.footer-icon-box {
   gap: 10px;
}
.btn-primary{
   cursor: pointer;
   border: none;
}
.btn-primary:hover{
   box-shadow: 1px 1px 28.3px 0.94px rgba(118, 118, 118, 0.669);
   background: linear-gradient(180.00deg, rgb(194, 168, 228),rgba(217, 124, 124, 0.453) 40%),rgb(255, 255, 255);
   color: rgb(0, 0, 0);
}


/* for mobile screen  */
@media screen and (max-width: 576px) {
   * {
      margin: 0px;
      padding: 0px;
   }

   .nav-container {
      display: none;

   }

   header {
      padding: 1px;

   }

   .secnd-container {
      margin: 0px;
      padding: 20px;
   }

   .mobile-nav {
      width: auto;
      height: 70px;
      display: flex;
      justify-content: space-between;
      border: 0.5px solid rgb(1, 203, 254);
      margin-bottom: 10px;
      padding: 10px;

   }

   .marquee p {
      position: absolute;
      left: inherit;
      right: inherit;
      width: auto;
      height: 100%;
      color: white;
      line-height: 50px;
      text-align: center;
      transform: translateX(100%);
      animation: scroll-left 15s linear infinite;
   }

   @keyframes scroll-left {
      0% {
         transform: translateX(100%);
      }

      100% {
         transform: translateX(-100%);
      }
   }

   .hero-kids {
      flex-direction: column-reverse;
      padding: 20px;


   }

   .hero-kids img {
      width: 100%;
   }

   .hero-text-box {
      margin-top: 20px;
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .hero-text-1 {
      font-size: 2.2rem;
   }

   .hero-text-2 {
      font-size: .9rem;
   }

   .hero-text-box p {
      text-align: center;
   }

   /* 2nd slide */
   .secnd-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;



   }

   .secnd-container-small-box {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 20px 0px
   }

   .secnd-container-small-box div {
      width: auto;
      height: auto;
      padding: 36px 28px;

   }

   .secnd-container-small-box p {
      width: 100%;
   }

   .secnd-p {
      font-size: 1.8rem;
   }

   .secnd-container-btn {
      display: none;
   }

   .third-container {
      padding: 0px;
      margin: 0px;
   }

   .third-container-1st-partition {
      display: none;
   }

   .third-container-2nd-partition {
      width: auto;
      padding: 0px 20px;
   }

   .third-container-2nd-partition div {
      width: auto;
      height: auto;
   }

   .third-container-2nd-partition-box img {
      width: 100%;
   }

   .third-container-2nd-partition-box button {
      width: 103.91px;
      height: 22.83px;
      color: rgb(255, 255, 255);
      font-family: Raleway;
      font-size: 9.13px;
      font-weight: 500;
      position: relative;
      left: 25px;
      bottom: 20px;

   }

   .third-container-2nd-partition {
      gap: 10px;

   }

   .third-container-2nd-partition-box p {
      color: rgb(0, 0, 0);
      font-family: Quicksand;
      font-size: 9.13px;
      font-weight: 700;
   }


   .View-all-btn {
      margin-bottom: 30px;
   }

   footer {
      padding: 20px;

   }

   .footer-container {
      flex-direction: column;
      width: auto;

   }

   .footer-container div {
      margin-bottom: 10px;
   }

   .footer-logo-box p {
      width: 170px;
   }
}